<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">DNI</th>
      <th scope="col">Email</th>
      <th scope="col">Carrera</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th><!--con th sale en negrita-->
      <td>Allan Maduro</td>
      <td>Villar 124</td>
      <td>1246432</td>
      <td>asfd@adsf</td>
      <td>programacion</td>
    </tr>
  </tbody>
</table>