<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">DNI</th>
      <th scope="col">Email</th>
      <th scope="col">Carrera</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Modificar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
      <th scope="row">{{student.studentId}}</th><!--con th sale en negrita-->
      <td><a class="nav-link" [routerLink]="['/student/view', student.studentId]" href="#">{{student.firstName}} {{student.lastName}}</a></td>
      <td [routerLink]="['/student/view', student.studentId]">{{student.address}}</td>
      <td>{{student.dni}}</td>
      <td>{{student.email}}</td>
      <td>{{student.careerName}}</td> <!--getCareerById(student.careerId) no se puede hacer porq entra en un loop infinito-->
      <td><button type="button" class="btn btn-danger" (click)="deleteStudent(student.studentId)">Borrar</button></td>
      <td><button type="button" class="btn btn-primary" [routerLink]="['/modify', student.studentId]">Modificar</button></td>
    </tr>
  </tbody>
</table>