<br>
<h2>Listado</h2><br>
<div class="row" id="productList">
    <p *ngIf="productList.length == 0" class="container">No hay productos cargados</p>
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{product.name}} - ID: {{product.id}}</a>
                </h4>
                <h5>${{product.price}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">Stock: {{product.stock}}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger" type="button" (click)="deleteProduct(product.id)">Eliminar</button>
                <button class="btn btn-primary" type="button" onclick="addProduct('Computadora')">Modificar</button>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->