<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <app-shopping-cart></app-shopping-cart>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <br><br>
            <div class="row" id="productList">
                <p *ngIf="productList.length == 0" class="container">No hay productos disponibles</p>
                <ng-container *ngFor="let product of productList">
                    <!-- https://stackoverflow.com/questions/38585720/how-to-apply-multiple-template-bindings-on-one-element-in-angular-->
                    <div class="col-lg-4 col-md-6 mb-4" *ngIf="product.stock > 0">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{product.name}}</a>
                                </h4>
                                <h5>{{product.price}}</h5>
                                <p class="card-text">{{product.description}}</p>
                                <p class="card-text">Stock: {{product.stock}}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-success" type="button"
                                    (click)="addProductToCart(product)">Add</button>
                            </div>
                        </div>
                    </div>
                </ng-container>



            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>