
<div class="container login-container">
    <div class="row">
        <div class="col-md-12 login-form-1">
            <h3>Sign Up!</h3>
            <form [formGroup]="userForm" (ngSubmit)="signUp()">
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Ingrese un mail
                    </div>
                    <div *ngIf="email.errors.email">
                        Ingrese un mail valido
                    </div>
                    <div *ngIf="email.errors.emailExists">
                        El email ya existe
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        Ingrese contraseña
                    </div>
                    <div *ngIf="password.errors.minlength">
                        La contraseña debe tener mas de 6 caracteres
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit btn btn-primary" value="Login" [disabled]="!userForm.valid" />
                </div>
            </form>
        </div>
    </div>
</div>