<!--CON REACTIVE FORMS-->
<div class="container">
    <h2>Modificar Estudiante</h2><br>
    <form [formGroup]="studentForm" (ngSubmit)="modify()">
        <div class="form-group">
            <label for="address">Direccion</label>
            <input type="text" value="el valor que traiga el estudiante" formControlName="address" class="form-control" id="address" placeholder="Direccion"
                name="address">
        </div>
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
                Debe ingresar una direccion
            </div>
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="number" formControlName="dni" class="form-control" id="dni" placeholder="dni" name="dni">
        </div>
        <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
            <div *ngIf="dni.errors.dniExists">
                El dni ya existe
            </div>
            <div *ngIf="dni.errors.required">
                Debe ingresar un dni
            </div>
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="email"
                name="email">
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.emailExists">
                El email ya existe
            </div>
            <div *ngIf="email.errors.required">
                Debe ingresar un email
            </div>
        </div>
        <div class="form-group">
            <label for="f_name">Nombre</label>
            <input type="text" formControlName="firstName" class="form-control" id="f_name" placeholder="Nombre"
                name="f_name">
        </div>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.minlength">
                Nombre debe ser mayor a 5 caracteres
            </div>
            <div *ngIf="firstName.errors.required">
                Debe ingresar un nombre
            </div>
        </div>
        <div class="form-group">
            <label for="l_name">Apellido</label>
            <input type="text" formControlName="lastName" class="form-control" id="l_name" placeholder="Apellido"
                name="l_name">
        </div>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
                Debe ingresar un apellido
            </div>
        </div>
        <div class="form-group">
            <label for="careerId">Carrera</label>
            <select formControlName="careerId" class="form-control" name="careerId">
                    <option value="carreradelusuario">Carrera</option>
                    <option value="{{career.careerId}}" *ngFor="let career of careerList">{{career.name}}</option>
            </select>
        </div>
        <div *ngIf="careerId.invalid && (careerId.dirty || careerId.touched)" class="alert alert-danger">
            <div *ngIf="careerId.errors.required">
                Debe seleccionar una carrera
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">Modificar</button>
    </form>
</div>